form {
  padding-top: 1rem;
}

label {
  display: block;
  margin: 0.5em 0;
  font-weight: bold;
}

#allForms {
  margin-left: 40%;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #3f51b5;
}

.allInputsProfile {
  position: absolute;
  /* padding-left: 45%; */
  left: 57%;
  top: 220%;
  transform: translate(-50%, -50%);
}

.allInputsMindSets {
  position: absolute;
  /* padding-left: 45%; */
  left: 50%;
  top: 80%;
  bottom: 120%;
  transform: translate(-50%, -50%);
}

.buttonProfilSubmit {
  position: absolute;
  width: 12%;
  /* padding-left: 45%; */
  left: 67%;
  top: 266%;
  transform: translate(-50%, -50%);
}

.below {
  position: absolute;
  top: 110%;
  margin-top: 8%;
  overflow: visible;
}
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.mat-button {
  background-color: #c2185b;
  color: white;
}

.mat-button.mat-button-disabled.mat-button-disabled {
  background-color: gray;
  color: black;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #c2185b;
  color: white;
}
.allInputsProfileSubmit {
  position: fixed;
  /* padding-left: 45%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* .box {
  width: 700px;
  height: 500px;
  overflow: scroll;
} */
