<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
</button> -->
<div (window:resize)="onResize($event)" style="width: 80%">
  <div class="box">
    <mat-stepper
      orientation="vertical"
      [linear]="isLinear"
      #stepperAll
      (selectionChange)="onStepChange($event)"
    >
      <mat-step>
        <ng-template matStepLabel> Profile </ng-template>
        <mat-stepper
          orientation="horizontal"
          [linear]="isLinear"
          #stepperProfile
        >
          <ng-template matStepperIcon="edit">
            <mat-icon>check_circle</mat-icon>
          </ng-template>

          <mat-step>
            <form [formGroup]="appComponent.profileForm">
              <ng-template matStepLabel>{{
                this.innerWidth > 820 ? "Name" : ""
              }}</ng-template>
              <div class="allInputsProfile">
                <app-name></app-name>
                <div>
                  <button
                    id="nameNext"
                    (click)="nameSubmit = true"
                    [disabled]="
                      !this.appComponent.profileForm.get('name')?.valid
                    "
                    mat-button
                    matStepperNext
                  >
                    Next
                  </button>
                </div>
              </div>
            </form>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>{{
              this.innerWidth > 820 ? "Address" : ""
            }}</ng-template>
            <form [formGroup]="appComponent.profileForm">
              <div class="allInputsProfile">
                <app-address></app-address>
                <div>
                  <button mat-button matStepperPrevious id="profileBack">
                    Back
                  </button>
                  <button
                    id="profileNext"
                    mat-button
                    matStepperNext
                    (click)="nameSubmit = true"
                    [disabled]="
                      !this.appComponent.profileForm.get('address')?.valid
                    "
                    style="right: -180px"
                  >
                    Next
                  </button>
                </div>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="appComponent.profileForm">
            <ng-template matStepLabel>{{
              this.innerWidth > 820 ? "Mind Sets" : ""
            }}</ng-template>
            <form [formGroup]="appComponent.profileForm">
              <div class="allInputsProfile" style="margin-top: 5%">
                <div formArrayName="mindSets">
                  <app-mind-set></app-mind-set>
                </div>
                <div>
                  <button
                    id="mindSetBack"
                    mat-button
                    matStepperPrevious
                    (click)="showMindSetDetails = false"
                  >
                    Back
                  </button>
                  <button
                    id="mindSetNext"
                    mat-button
                    matStepperNext
                    (click)="mindSetComp.madeArrayMindSets()"
                    (click)="nameSubmit = true"
                    style="right: -250px"
                    (click)="showMindSetDetails = true"
                  >
                    Next
                  </button>
                </div>
              </div>
            </form>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>{{
              this.innerWidth > 820 ? "Profile Done" : ""
            }}</ng-template>
            <div class="allInputsProfileSubmit">
              <h2 align="center">
                Great
                <strong
                  >{{ appComponent.profileForm.value.name.firstName }}!
                </strong>
                Let's get in details!
              </h2>
              <h4 align="center">Ready?</h4>

              <button
                id="readyProfileBack"
                mat-button
                matStepperPrevious
                (click)="showMindSetDetails = false"
              >
                Back
              </button>
              <button
                id="readyProfileNext"
                mat-button
                matStepperNext
                (click)="stepperAll.next()"
                style="right: -1%; position: fixed"
              >
                Go Details
              </button>
              <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
            </div>
          </mat-step>
        </mat-stepper>
      </mat-step>
      <mat-step *ngIf="showMindSetDetails">
        <mat-step-header style="display: none"></mat-step-header>
        <ng-template matStepLabel>{{
          showMindSetDetailsHeader ? "Mind Set Details" : ""
        }}</ng-template>
        <mat-stepper #stepperMindDetails>
          <ng-template matStepperIcon="edit">
            <mat-icon>check_circle</mat-icon>
          </ng-template>

          <mat-step
            *ngFor="
              let mindSet of appComponent.profileForm.getRawValue().mindSets;
              index as i;
              first as isFirst
            "
          >
            <form
              [formGroup]="
                appComponent.politicsForm || appComponent.profileForm
              "
            >
              <ng-template matStepLabel>{{ mindSet }}</ng-template>
              <div class="allInputsMindSets">
                <app-politics *ngIf="mindSet == 'Politics'"></app-politics>
                <app-sport *ngIf="mindSet == 'Sport'"></app-sport>
                <button mat-button matStepperPrevious *ngIf="i > 0">
                  Back
                </button>
                <button
                  mat-button
                  matStepperNext
                  *ngIf="i > 0"
                  style="right: -245px"
                >
                  Next
                </button>
              </div>
            </form>
          </mat-step>
        </mat-stepper>
      </mat-step>
    </mat-stepper>
    <!-- <div class="below">
    <hr />
    <p>Profile Form Value: {{ appComponent.profileForm.value | json }}</p>
    <p>Politics Form Value: {{ appComponent.politicsForm.value | json }}</p>
    <p>Form Status: {{ appComponent.profileForm.status }}</p>
  </div> -->
  </div>
  <!-- <app-footer></app-footer> -->
  <!-- {{ appComponent.myStyle.width }}
  {{ innerWidth }} -->
</div>
