mat-button-toggle.mindsetButtons {
  /* border: solid #c2185b; */
  width: 100px;
  height: 50px;
  margin-right: -8px;
  /* padding-left: -2em; */
}

mat-button-toggle:hover.mindsetButtons {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  /* -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57); */
  transition: all 0.4s ease 0s;
  /* border-radius: 50px; */
}

::ng-deep.mat-button-toggle-checked.mindsetButtons {
  -ms-transform: scale(0.85); /* IE 9 */
  -webkit-transform: scale(0.85); /* Chrome, Safari, Opera */
  transform: scale(0.85);
  font-size: 15px;
  left: 1px;
}

mat-button-toggle-group.mindsetButtonsGroup {
  border: none;
  padding-right: 6px;
}

::ng-deep.mat-button-toggle-group-appearance-standard
  .mat-button-toggle
  + .mat-button-toggle {
  border-left: none;
}

mat-button-toggle:hover {
  color: #c2185b;
}

.mat-button {
  background-color: #c2185b;
  color: white;
}
.mat-button:disabled {
  background-color: grey;
  color: white;
}

.polticsButtons > .button:not(:last-child) {
  margin-right: 30px;
}

::ng-deep.mat-button-toggle-checked {
  /* border: 1px solid #c2185b;
  background-color: #eadfe3; */
  color: #c2185b !important;
  /* text-transform: uppercase;
  text-decoration: none; */
  /* background: #ff007f; */
  /* padding: 20px; */

  /* font-size: 25px; */
}
