/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  font-size: 16px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar {
  -webkit-appearance: none;
}

::ng-deep .mat-select-panel::-webkit-scrollbar:vertical {
  width: 16px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar:horizontal {
  height: 16px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

::ng-deep .mat-select-panel {
  max-height: 300px;
}

.headerOfAllSteps {
  color: #c2185b;
}
